<div class="container mt-5">
    <div class="cart-item" *ngFor="let it of meal;index as i">
        <h2>{{ it.name }}</h2>
        <h4>The Price:{{ it.price|currency:'EUR':true }} </h4>
        <hr>
    </div>
    <button class="btn btn-info mt-4" (click)="counter()"> Amount</button><br><span class="priceT">
        </span>
    <hr>
    <button class="btn btn-info mt-5" (click)="getTotalPrice()"> Total</button><br><span id="total"></span>
    <hr>
    <h1 class="order"> Order Form</h1>

    <form [formGroup]="checkoutForm">
        <p>Please fill up the info for the delivery</p>
        <hr>


        <div>

            <label for="name">Name </label>

            <input id="name" type="text" class="form-control " formControlName="name">

        </div>

        <div>

            <label for="address">Address</label>

            <input id="address" type="text" class="form-control " formControlName="address">
        </div>


        <button class="btn btn-info mt-3 mb-5" type="submit">Purchase</button>